In [3]:
import pandas as pd
import numpy as np

# 1. Escreva uma query que retorna a quantidade de linhas na tabela Sales.SalesOrderDetail pelo campo SalesOrderID, desde que tenham pelo menos três linhas de detalhes.
## Acha a quantidade de linhas de detalhes (SalesOrderDetailID) por SalesOrderID.
- Após fazer uma análise exploratória dos dados, foi verificado que **para cada SalesOrderID existe uma SalesOrderDetailID.**
 - Foi feito um agrupamento da coluna SalesOrderID com a função de agregação size() para achar o número de linhas para cada SalesOrderID, **que é o mesmo número de linhas da coluna SalesOrderDetailID.**

In [24]:
def question_1(base1="Sales.SalesOrderDetail.csv"):
    
    # Importa base
    SalesOrderDetail = pd.read_csv(f"../data/{base1}", sep=";")
    
    # Agrupa SalesOrderDetail por SalesOrderID com a função de agregação size()
    grouped_SalesOrderDetail = SalesOrderDetail.groupby('SalesOrderID').size().reset_index(name='Entries')
    
    # Seleciona as linhas com número de registros maior ou igual a 3
    answer1 = grouped_SalesOrderDetail.loc[grouped_SalesOrderDetail["Entries"] >= 3]
    
    # Retorna o tamanho do dataframe answer, que é o resultado esperado
    return len(answer1)

In [25]:
question_1("Sales.SalesOrderDetail.csv")

12757

# 2. Escreva uma query que ligue as tabelas Sales.SalesOrderDetail, Sales.SpecialOfferProduct e Production.Product e retorne os 3 produtos (Name) mais vendidos (pela soma de OrderQty), agrupados pelo número de dias para manufatura (DaysToManufacture).
- Após análise exploratória dos dados, foi observado que a chave comum entre as 3 bases é a coluna **ProductID.**
- As colunas relevantes para alcançar o resultado desejado são:
 - **OrderQty**, encontrada somente na tabela Sales.SalesOrderDetail;
 - **DaysToManufacture**, encontrada nas tabelas Sales.SpecialOfferProduct e Production.Product;
 - **Name**, encontrada nas tabelas Sales.SpecialOfferProduct e Production.Product.
- Como DaysToManufacture e Name estão nas duas tabelas Sales.SpecialOfferProduct e Production.Product, e elas possuem os mesmos produtos, inclusive com o mesmo número de registros (504), não é necessário fazer uma relação entre essas duas tabelas.
- Foi feito um merge entre as tabelas Sales.SalesOrderDetail.csv e Production.Product.csv utilizando como chave o ProductID
 - O resultado foi agrupado por DaysToManufacture e Name com a função de agregação sum na coluna OrderQty.
 - Foram selecionados os 3 produtos mais vendidos.

In [26]:
def question_2(base1="Sales.SalesOrderDetail.csv", base2="Sales.SpecialOfferProduct.csv",
               base3="Production.Product.csv"):
    
    # Importa bases
    SalesOrderDetail = pd.read_csv(f"../data/{base1}", sep=";")
    SpecialOfferProduct = pd.read_csv(f"../data/{base3}", sep=";")
    Product = pd.read_csv(f"../data/{base3}", sep=";")
    
    # Não é necessário fazer o merge entre SpecialOfferProduct e Product.
    # Não foi executado, mas, como foi solicitado no enunciado, segue:
    # SpecialOfferProduct_Product = pd.merge(SpecialOfferProduct, Product, on="ProductID", how="inner")
    
    # Relaziona Sales.SalesOrderDetail e Production.Product para trazer a coluna OrderQty
    Product_SalesOrderDetail = pd.merge(Product, SalesOrderDetail[["OrderQty", "ProductID"]], on="ProductID", how="inner")
    # Seleciona as colunas relevantes para diminuir o dataframe
    Product_SalesOrderDetail = Product_SalesOrderDetail[["ProductID", "Name", "OrderQty", "DaysToManufacture"]]
    # Agrupa o dataframe e aplica sum na coluna OrderQty
    Product_SalesOrderDetail = Product_SalesOrderDetail.groupby(["DaysToManufacture", "Name"]).agg({'OrderQty':sum,})
    
    # Seleciona os 3 produtos mais vendidos, retorna o nome agrupado por DaysToManufacture
    answer2 = Product_SalesOrderDetail.groupby('DaysToManufacture').apply(lambda x: x.nlargest(3,"OrderQty")).reset_index(level=0, drop=True)
    

    return answer2

In [27]:
question_2()

                                                  OrderQty
DaysToManufacture Name
0                 AWC Logo Cap                        8311
                  Water Bottle - 30 oz.               6815
                  Sport-100 Helmet, Blue              6743
1                 LL Road Frame - Black, 52           1581
                  ML Mountain Handlebars              1465
                  ML Road Frame-W - Yellow, 44        1435
2                 HL Mountain Frame - Silver, 38      1206
                  ML Road Frame-W - Yellow, 38         895
                  HL Mountain Frame - Black, 38        659
4                 Mountain-200 Black, 38              2977
                  Mountain-200 Black, 42              2664
                  Mountain-200 Silver, 38             2394