In [17]:
import pandas as pd
import numpy as np

# 1. Escreva uma query que retorna a quantidade de linhas na tabela Sales.SalesOrderDetail pelo campo SalesOrderID, desde que tenham pelo menos três linhas de detalhes.

## Acha a quantidade de linhas de detalhes (SalesOrderDetailID) por SalesOrderID.
- Após fazer uma análise exploratória dos dados, foi verificado que **para cada SalesOrderID existe uma SalesOrderDetailID.**
 - Foi feito um agrupamento da coluna SalesOrderID com a função de agregação size() para achar o número de linhas para cada SalesOrderID, **que é o mesmo número de linhas da coluna SalesOrderDetailID.**

In [48]:
def question_1(base1="Sales.SalesOrderDetail.csv"):
    
    # Importa base
    SalesOrderDetail = pd.read_csv(f"../data/{base1}", sep=";")
    # Agrupa SalesOrderDetail por SalesOrderID com a função de agregação size()
    # Nomeia a coluna com o número de registros como Entries
    grouped_SalesOrderDetail = SalesOrderDetail.groupby('SalesOrderID').size().reset_index(name='Entries')
    # Seleciona as linhas com número de registros maior ou igual a 3
    answer = grouped_SalesOrderDetail.loc[grouped_SalesOrderDetail["Entries"] >= 3]
    
    # Retorna o tamanho do dataframe answer, que é o resultado esperado
    return len(answer)

In [50]:
question_1("Sales.SalesOrderDetail.csv")

12757

# 2. Escreva uma query que ligue as tabelas Sales.SalesOrderDetail, Sales.SpecialOfferProduct e Production.Product e retorne os 3 produtos (Name) mais vendidos (pela soma de OrderQty), agrupados pelo número de dias para manufatura (DaysToManufacture).

- Após análise exploratória dos dados, foi observado que a chave comum entre as 3 bases é a coluna **ProductID.**
- As colunas relevantes para alcançar o resultado desejado são:
 - OrderQty, encontrada somente na tabela Sales.SalesOrderDetail;
 - DaysToManufacture, encontrada nas tabelas Sales.SpecialOfferProduct e Production.Product;
 - Name, encontrada nas tabelas Sales.SpecialOfferProduct e Production.Product.
- Foi feito um merge entre as 3 tabelas para trazer as colunas relevantes para uma única tabela.

In [163]:
def question_2(base1="Sales.SalesOrderDetail.csv", base2="Sales.SpecialOfferProduct.csv",
               base3="Production.Product.csv"):
    
    # Importa bases
    SalesOrderDetail = pd.read_csv(f"../data/{base1}", sep=";")
    SpecialOfferProduct = pd.read_csv(f"../data/{base3}", sep=";")
    Product = pd.read_csv(f"../data/{base3}", sep=";")
    # Não é necessário fazer o merge entre SpecialOfferProduct e Product.
    # Mas, como foi solicitado no enunciado, foi executado.
#     SpecialOfferProduct_Product = pd.merge(SpecialOfferProduct, Product, on="ProductID", how="inner")
    
    df = pd.merge(Product, SalesOrderDetail[["OrderQty", "ProductID"]], on="ProductID", how="inner")
    df = df[["ProductID", "Name", "OrderQty", "DaysToManufacture"]]
    answer2 = df.groupby(["DaysToManufacture", "Name"]).agg({'OrderQty':sum,})
    answer2 = answer2.groupby('DaysToManufacture').apply(lambda x: x.nlargest(3,"OrderQty")).reset_index(level=0, drop=True)
    

#     return SalesOrderDetail, SpecialOfferProduct, Product
    return answer2

In [164]:
question_2()

                                                  OrderQty
DaysToManufacture Name
0                 AWC Logo Cap                        8311
                  Water Bottle - 30 oz.               6815
                  Sport-100 Helmet, Blue              6743
1                 LL Road Frame - Black, 52           1581
                  ML Mountain Handlebars              1465
                  ML Road Frame-W - Yellow, 44        1435
2                 HL Mountain Frame - Silver, 38      1206
                  ML Road Frame-W - Yellow, 38         895
                  HL Mountain Frame - Black, 38        659
4                 Mountain-200 Black, 38              2977
                  Mountain-200 Black, 42              2664
                  Mountain-200 Silver, 38             2394

In [161]:
# SalesOrderDetail, SpecialOfferProduct, Product = question_2()
# question_2()["ProductID"].astype(str).str.match("1").any()
# question_2().loc[question_2()["ProductID"]==999]
answers2 = question_2().groupby(["DaysToManufacture", "Name"]).agg({'OrderQty':sum,})
# answers2.nlargest(3, columns=["OrderQty"])

In [162]:
answers2.groupby('DaysToManufacture').apply(lambda x: x.nlargest(3,"OrderQty")).reset_index(level=0, drop=True)

                                                  OrderQty
DaysToManufacture Name
0                 AWC Logo Cap                        8311
                  Water Bottle - 30 oz.               6815
                  Sport-100 Helmet, Blue              6743
1                 LL Road Frame - Black, 52           1581
                  ML Mountain Handlebars              1465
                  ML Road Frame-W - Yellow, 44        1435
2                 HL Mountain Frame - Silver, 38      1206
                  ML Road Frame-W - Yellow, 38         895
                  HL Mountain Frame - Black, 38        659
4                 Mountain-200 Black, 38              2977
                  Mountain-200 Black, 42              2664
                  Mountain-200 Silver, 38             2394

In [117]:
SalesOrderDetail.columns
SalesOrderDetail

,SalesOrderID,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,43659,1,4911-403C-98,1,776,1,"2024,994","0,00",2024.994,B207C96D-D9E6-402B-8470-2CC176C42283,2011-05-31 00:00:00.000
1,43659,2,4911-403C-98,3,777,1,"2024,994","0,00",6074.982,7ABB600D-1E77-41BE-9FE5-B9142CFC08FA,2011-05-31 00:00:00.000
2,43659,3,4911-403C-98,1,778,1,"2024,994","0,00",2024.994,475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F,2011-05-31 00:00:00.000
3,43659,4,4911-403C-98,1,771,1,"2039,994","0,00",2039.994,04C4DE91-5815-45D6-8670-F462719FBCE3,2011-05-31 00:00:00.000
4,43659,5,4911-403C-98,1,772,1,"2039,994","0,00",2039.994,5A74C7D2-E641-438E-A7AC-37BF23280301,2011-05-31 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...,...
121312,75122,121313,NaN,1,878,1,"21,98","0,00",21.980,8CAD6675-18CC-4F47-8287-97B41A8EE47D,2014-06-30 00:00:00.000
121313,75122,121314,NaN,1,712,1,"8,99","0,00",8.990,84F1C363-1C50-4442-BE16-541C59B6E12C,2014-06-30 00:00:00.000
121314,75123,121315,NaN,1,878,1,"21,98","0,00",21.980,C18B6476-429F-4BB1-828E-2BE5F82A0A51,2014-06-30 00:00:00.000
121315,75123,121316,NaN,1,879,1,"159,00","0,00",159.000,75A89C6A-C60A-47EA-8A52-B52A9C435B64,2014-06-30 00:00:00.000
121316,75123,121317,NaN,1,712,1,"8,99","0,00",8.990,73646D26-0461-450D-8019-2C6C858619CA,2014-06-30 00:00:00.000

In [69]:
SpecialOfferProduct.columns
SpecialOfferProduct

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,"0,00","0,00",...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,"0,00","0,00",...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,"0,00","0,00",...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,"0,00","0,00",...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,1,0,NaN,800,600,"0,00","0,00",...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,"44,9506","101,24",...,NaN,M,NaN,5.0,96.0,2013-05-30 00:00:00.000,NaN,NaN,71AB847F-D091-42D6-B735-7B0C2D82FC84,2014-02-08 10:01:36.827
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,"53,9416","121,49",...,NaN,H,NaN,5.0,97.0,2013-05-30 00:00:00.000,NaN,NaN,230C47C5-08B2-4CE3-B706-69C0BDD62965,2014-02-08 10:01:36.827
501,997,"Road-750 Black, 44",BK-R19B-44,1,1,Black,100,75,"343,6496","539,99",...,R,L,U,2.0,31.0,2013-05-30 00:00:00.000,NaN,NaN,44CE4802-409F-43AB-9B27-CA53421805BE,2014-02-08 10:01:36.827
502,998,"Road-750 Black, 48",BK-R19B-48,1,1,Black,100,75,"343,6496","539,99",...,R,L,U,2.0,31.0,2013-05-30 00:00:00.000,NaN,NaN,3DE9A212-1D49-40B6-B10A-F564D981DBDE,2014-02-08 10:01:36.827
503,999,"Road-750 Black, 52",BK-R19B-52,1,1,Black,100,75,"343,6496","539,99",...,R,L,U,2.0,31.0,2013-05-30 00:00:00.000,NaN,NaN,AE638923-2B67-4679-B90E-ABBAB17DCA31,2014-02-08 10:01:36.827

In [70]:
Product.columns
Product

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,0,0,NaN,1000,750,"0,00","0,00",...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,0,0,NaN,1000,750,"0,00","0,00",...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,1,0,NaN,800,600,"0,00","0,00",...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,0,0,NaN,800,600,"0,00","0,00",...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,1,0,NaN,800,600,"0,00","0,00",...,NaN,NaN,NaN,NaN,NaN,2008-04-30 00:00:00.000,NaN,NaN,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,1,1,NaN,500,375,"44,9506","101,24",...,NaN,M,NaN,5.0,96.0,2013-05-30 00:00:00.000,NaN,NaN,71AB847F-D091-42D6-B735-7B0C2D82FC84,2014-02-08 10:01:36.827
500,996,HL Bottom Bracket,BB-9108,1,1,NaN,500,375,"53,9416","121,49",...,NaN,H,NaN,5.0,97.0,2013-05-30 00:00:00.000,NaN,NaN,230C47C5-08B2-4CE3-B706-69C0BDD62965,2014-02-08 10:01:36.827
501,997,"Road-750 Black, 44",BK-R19B-44,1,1,Black,100,75,"343,6496","539,99",...,R,L,U,2.0,31.0,2013-05-30 00:00:00.000,NaN,NaN,44CE4802-409F-43AB-9B27-CA53421805BE,2014-02-08 10:01:36.827
502,998,"Road-750 Black, 48",BK-R19B-48,1,1,Black,100,75,"343,6496","539,99",...,R,L,U,2.0,31.0,2013-05-30 00:00:00.000,NaN,NaN,3DE9A212-1D49-40B6-B10A-F564D981DBDE,2014-02-08 10:01:36.827
503,999,"Road-750 Black, 52",BK-R19B-52,1,1,Black,100,75,"343,6496","539,99",...,R,L,U,2.0,31.0,2013-05-30 00:00:00.000,NaN,NaN,AE638923-2B67-4679-B90E-ABBAB17DCA31,2014-02-08 10:01:36.827